@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900&display=swap');

body {
    background: #fff;
    font-family: 'Gilroy', sans-serif !important;
    box-sizing: border-box;
}

a:hover {
    color: #666666;
}

li,
a {
    text-decoration: none !important;
    cursor: pointer;
    font-family: 'Gilroy', sans-serif !important;
    color: #000;
    list-style: none;
}

a {

    line-height: inherit;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
    font-family: 'Gilroy', sans-serif !important;
}

p {
    font-family: 'Gilroy', sans-serif !important;

}




.page-section {
    height: auto;
    width: 100%;
    color: white;
    position: relative;
}

.navigation {}

.link {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 1em;
    font-weight: 400;
}

.link:hover {
    background-color: #aaa;
}

.active_a {
    border-bottom: 3px solid #fff;
}

.menu_top {
    width: 100%;
    height: auto;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 99;
    transition: all .5s;
}

.navigation {}

.navigation ul {
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 13px;
}

.navigation ul li a {
    padding: 20px 20px 10px 20px;
    color: #fff !important;
    font-family: 'Gilroy', sans-serif !important;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    transition: all .5s;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

.frontscreen {
    background: url('../img/hero_bg.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.menu_top img {
    width: 63%;
    display: block;
    margin: 0 auto;
    transition: all .5s;
}

.hero img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    width: 62%;
}

.fixed_menu {
    background: #051C2C;
}

.frontscreen::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(7, 7, 33, 0.57);
}

.btn_home {
    width: 100%;
    display: block;
    height: -webkit-fill-available;
    margin-top: 25px;
    height: 58px;
}

.btn_home a {
    padding: 17px 25px 17px;
    background: #FF4545;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 38%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    animation: color-change-3x 4s linear infinite alternate both;
}

.content {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 12%;
    width: 56%;
    padding: 40px;
    transform: translate(-12%, -50%);
    /* font-size: 1.25rem; */
    /* padding: 17px 26px 19px; */
}

.content h1 {
    font-weight: 800;
    font-size: 39px;
    line-height: 73px;
}

.second_sec {
    padding: 4.3rem 2.3rem 0rem 1.3rem;
}

.second_sec h2 {
    font-weight: 800;
    font-size: 39px;
    line-height: 73px;
    color: #000;
    text-align: center;
    text-transform: capitalize;
}

.fetaures_sec {
    padding: 27px;
}

.fetaures_sec img {
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 19px;
}

.fetaures_sec h3 {
    font-weight: 800;
    font-size: 23px;
    color: #000;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 21px;
}

.fetaures_sec p {
    font-size: 15px;
    letter-spacing: 1.1px;
    text-align: center;
    font-weight: 500;
}

.fixed_menu img {
    width: 55%;
}

.fixed_menu .navigation ul li a {
    font-size: 14px;
    font-weight: 700;
    padding: 18px;
}

.fixed_menu .navigation ul li {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.foucs_sec {
    background: #070721;
    padding: 4.5rem;
}

.foucs_sec h2 {
    font-weight: 800;
    font-size: 35px;
    line-height: 73px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}

.foucs_sec {}

.foucs_sec h3 {
    font-weight: 800;
    font-size: 38px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 21px;
}

.foucs_sec p {
    color: #dfdddd;
    font-size: 15px;
    letter-spacing: 1.1px;
    font-weight: 500;
}

.foucs_sec a {
    padding: 17px 25px 17px;
    background: #ff4545;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 50%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 1.3rem;
}

/* .bg_line{
    background: url('../img/line_sec.svg');
    height: 1000px;
    background-position: top -1px right -1px;
    background-repeat: no-repeat;
    background-size: 369px;
} */
#line_cross {
    position: absolute;
    width: 477px;
    right: -134px;
    top: 0;
}

.bg_line {
    height: auto;
    overflow: hidden;
}

.inner_2 {
    padding-top: 75px;
    position: relative;
    height: 320px;
}

.inner_2 h3 {
    font-weight: 900;
    font-size: 37px;
    line-height: 57px;
    color: #000;
    padding-left: 40px;
    margin-top: 26px;
}

.inner_2::after {
    content: '';
    width: 55px;
    height: 100%;
    position: absolute;
    left: 0;
    background: #62FFBC;
    top: 0;
    left: -48px;
    z-index: 1;
}

.inner_2_right {
    padding-top: 100px;
}

.inner_2_right p {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
    color: #101010;
}

.inner_2_right a {
    padding: 17px 25px 17px;
    background: #070721;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 50%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 1.3rem;
    animation: color-change-3x 4s linear infinite alternate both;
}

.four_Sec_3 {
    position: relative;
    width: 100%;
    height: 442px;
    background: #070721;
    padding: 4.5rem;
}

#shape_hero {
    position: absolute;
    left: 0;
    top: 1px;
    width: 381px;
}

.four_Sec_3 h3 {
    font-weight: 800;
    font-size: 37px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 21px;
}

.four_Sec_3 p {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 500;
    color: #dfdddd;
}

.four_Sec_3 a {
    padding: 17px 25px 17px;
    background: #ff4545;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 50%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 1.3rem;
    animation: color-change-3x 4s linear infinite alternate both;
}

.advertising_sec {}

.advertising_a h3 {
    font-weight: 800;
    font-size: 37px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 21px;
    margin-top: 100px;
}

.advertising_a p {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 500;
    color: #dfdddd;
}

.advertising_a {
    position: relative;
    width: 100%;
    height: 627px;
    background: #070721;
    padding: .5rem 0rem 4.5rem 4.5rem;
    position: relative;
    overflow: hidden;
}

.advertising_a::after {
    content: '';
    background: #070721;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -125px;
    left: 0;
    clip-path: polygon(48% 12%, 100% 0, 100% 100%, 49% 100%, 0 100%, 0 23%);
}

.advertising_b {
    background: #FC4747;
    width: 100%;
    height: 581px;
    position: relative;
    overflow: hidden;
    animation: color-change-3x 4s linear infinite alternate both;
}

.advertising_b::after {
    content: '';
    background: #070721;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -125px;
    left: 0;
    clip-path: polygon(48% 12%, 100% 0, 100% 100%, 49% 100%, 0 100%, 0 23%);
}

.make_white h3 {
    color: #fff;
}

.make_white p {
    color: #fff;
}

.make_white a {
    color: #070721;
    background: #fff;
}

.advertising_c {
    width: 100%;
    height: auto;
    background: #070721;
    padding: 4.5rem;
    position: relative;
    overflow: hidden;
}

.slider_inner {
    width: 100%;
    overflow: hidden;
    background: #62FFBC;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 75px;
}

.img_sl {

    width: 50%;

    overflow: hidden;

    display: inline-block;

    float: left;
}

.img_sl img {
    width: 100%;
    background: #fff;
}

.content_Sec_slider h4 {
    font-weight: 900;
    font-size: 34px;
    line-height: 46px;
    color: #000;
    margin-bottom: 8px;
}

.content_Sec_slider p {
    font-size: 15px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 500;
    color: #030303;
}

.content_Sec_slider {
    padding: 22px;
    width: 50%;
    overflow: hidden;
    display: inline-block;
    float: left;
}

#custom_li {
    margin: 0;
}

#custom_li li {
    display: inline-block;
    float: left;
    margin-left: 13px;
    margin-right: 14px;
    background: #62FFBC;
    width: 19%;
    height: 43px;
    padding-top: 9px;
    border-radius: 49px;
    letter-spacing: 1px;
    text-transform: capitalize;
    /* animation: color-change-3x 4s linear infinite alternate both; */
}

#custom_li li a {
    color: #000;
    font-weight: 900;
    text-align: center;
    display: block;
}

.advertising_c h3 {
    font-weight: 800;
    font-size: 38px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 21px;
}

#section_3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: .7;
    border: 2px solid #62FFBC;
    -webkit-transform: scale(.13);
    transform: scale(.13);
    -webkit-animation-name: example;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.wave2 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s
}

.wave3 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s
}

.wave4 {
    animation-delay: 3s;
    -webkit-animation-delay: 3s
}

.wave5 {
    animation-delay: 4s;
    -webkit-animation-delay: 4s
}

.wave6 {
    animation-delay: 5s;
    -webkit-animation-delay: 5s
}

@-webkit-keyframes example {
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@keyframes example {
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

.waves-container {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 0;
    right: -375px;
}

.owl-dots {
    display: none;
    ;
}

#manage_height img {
    width: 97%;
}

.publish_top h3 {
    font-weight: 900;
    font-size: 50px;
    line-height: 57px;
    color: #000;
    text-align: center;
    margin-bottom: 14px;
}


.publish_top p {
    font-size: 19px;
    letter-spacing: 1px;
    text-align: center;
    color: #161616;
    margin: 0;
    font-weight: 500;
}

.Publishers {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.publish_top {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 4.5rem;
}

.content_pub {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 20px;
}

.content_pub .title {
    font-weight: 800;
    font-size: 14px;
    color: #000;
    text-align: left;
    margin-bottom: 7px;
    background: transparent;
}

.content_pub p {
    font-weight: 800;
    font-size: 28px;
    color: #000;
    text-align: left;
    margin-bottom: 7px;
    background: transparent;
    line-height: 35px;
    letter-spacing: 1px;
    transition: all .5s;
}

.pub_l {
    position: relative;
    overflow: hidden;
    height: 440px;
    position: relative;
    cursor: pointer;
}

.pub_l img {
    width: 100%;
    height: auto;
    transition: all .5s;
}

.pub_l::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #fff), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, #fff 70%, rgba(0, 0, 0, 0));
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.pub_small .content_pub p {
    font-size: 19px;
    line-height: 20px;
}

.pub_l.pub_l:hover img {
    transform: scale(1.1);
}

.pub_l:hover p {
    color: #8A2AD1
}

.careers_innner {
    background: url(../img/hero_bg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 400px;
    padding: 4.5rem;
}

.careers {

    margin-top: 139px;
}

.careers_postion {
    border: .063rem solid #e3e3e3;
    border-top: .25rem solid;
    margin: -4.4em 7.95em 0 .95em;
    background: #fff;
    width: 40%;
    float: right;
    position: relative;
    top: -44px;
    padding: 20px;
    border-top-color: #62FFBC !important;
}

.careers_postion h3 {
    font-weight: 900;
    font-size: 33px;
    line-height: 57px;
    color: #000;
    text-align: left;
    margin-bottom: 0;
}

.careers_postion h4 {
    font-weight: 900;
    font-size: 17px;
    color: #000;
    text-align: left;
    margin-bottom: 0;
}

.careers_postion p {
    font-weight: 600;
    font-size: 17px;
    color: #000;
    text-align: left;
    margin-bottom: 7px;
    background: transparent;
    line-height: 22px;
    letter-spacing: 1px;
    transition: all .5s;
}

.careers_postion a {
    padding: 17px 25px 17px;
    background: #ff4545;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 50%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    animation: color-change-3x 4s linear infinite alternate both;
    margin-top: 1.3rem;
}

.blog_detail {
    width: 99%;
    overflow: hidden;
    border: .06em solid #ccc;
    margin-top: 50px;
    box-shadow: 0px 5px 30px 0px rgba(13, 13, 13, 0.1);
}

.blog_img {}

.blog_img img {
    width: 100%;
}

.blog_content {
    padding: 20px 20px 20px 20px;
    text-align: left;
    background: #fff;
}

.blog_content h4 {
    font-weight: 700;
    font-size: 26px;
    color: #000;
    /* text-align: left; */
    margin-bottom: 10px;
}

.blog_content h5 {
    font-weight: 800;
    font-size: 13px;
    color: #FF4545;
    /* text-align: left; */
    margin-bottom: 7px;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 5px;
}

.blog_content p {
    font-weight: 500;
    text-align: left;
    margin-bottom: 7px;
    background: transparent;
    line-height: 21px;
    letter-spacing: 1px;
    transition: all .5s;
    font-size: 14px;
}

.blog_content a {
    padding: 13px 17px 13px;
    background: #000;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 58%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 1.3rem;
    display: block;
    margin-top: 20px;
    animation: color-change-3x 4s linear infinite alternate both;
}

.blog {
    padding: 4.5rem;
    background: #ffffff url(../img/blog_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 63px;
}

.blog h3 {
    font-weight: 900;
    font-size: 33px;
    line-height: 57px;
    color: #000;
    text-align: left;
    margin-bottom: 0;
    text-align: center;
}

@keyframes color-change-3x {
    0% {
        background: #19dcea;
    }

    50% {
        background: #b22cff;
    }

    100% {
        background: #ea2222;
    }
}

a:hover {
    color: #fff !important;
}

.make_white a {
    background: #fff !important;
    animation: auto;
}

.footer_sec {}

.footer_top {
    animation: color-change-3x 4s linear infinite alternate both;
    padding: 20px;
    width: 60%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 9px -4px 7px 2px rgba(0, 0, 0, 0.16);
    z-index: 9;
}

.footer_top h3 {
    font-weight: 900;
    font-size: 33px;
    line-height: 57px;
    color: #fff;
    text-align: left;
    margin-bottom: 0;
}

.footer_top p {
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    text-align: left;
    margin-bottom: 7px;
    background: transparent;
    line-height: 22px;
    letter-spacing: 1px;
    transition: all .5s;
}

.footer_top a {
    padding: 17px 25px 17px;
    color: #070721;
    font-weight: 700;
    display: inline-block;
    width: 50%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 1.3rem;
    background: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 41px;
}

.footer_sec {
    position: relative;
}

.footer_bottom {
    width: 100%;
    height: 269px;
    background: #070721;
}

.footer__socials {}

.footer__socials li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.footer__socials li a {
    color: #fff;
    opacity: .7;
}

.footer__socials li a span {
    color: #fff;
    width: 33px;
    height: 33px;
    display: block;
    background: #fff;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;
    animation: color-change-3x 4s linear infinite alternate both;
}

.footer_bottom_top {
    padding-top: 148px;
    text-align: center;
}

.footer_bottom_bottom {}

.footer_bottom_bottom p {
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-align: left;
    margin-bottom: 7px;
    background: transparent;
    line-height: 22px;
    letter-spacing: 1px;
    transition: all .5s;
    text-align: center;
    margin-top: 32px;
}

.footer_bottom_bottom p a {
    color: #62FFBC;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1px;
}

.mobile_bar {
    display: none;
}

.mobile_bar .bar {
    position: absolute;
    width: 33px;
    height: 2px;
    background: #fff;
}

.mobile_bar .bar:nth-child(1) {
    top: -1px;
}

.mobile_bar .bar:nth-child(2) {
    top: 7px;
    width: 21px;
}

.mobile_bar .bar:nth-child(3) {
    top: 15px;
}

.modal_custom {
    text-align: center;
    display: block;
    padding: 20px;
}

.modal_custom h3 {
    font-weight: 900;
    font-size: 33px;
    line-height: 57px;
    color: #000;
    margin-bottom: 0;
}

.modal_custom p {
    font-weight: 600;
    font-size: 17px;
    color: #000;
    margin-bottom: 7px;
    background: transparent;
    line-height: 22px;
    letter-spacing: 1px;
    transition: all .5s;
}

.textarea_design {
    border: 0px !important;
    background: #eee !important;
    height: 92px;
    width: 96% !important;
    font-size: 14px !important;
    font-weight: 600;
    color: #333;
    margin-top: 3% !important;
    margin-bottom: 0% !important;
    letter-spacing: 1px;
    padding: 8px 10px !important;
}

.input_design {
    border: 0px !important;
    background: #eee !important;
    height: 50px !important;
    width: 92% !important;
    font-size: 14px !important;
    font-weight: 600;
    color: #333;
    margin-top: 3% !important;
    margin-bottom: 0% !important;
    letter-spacing: 1px;
    padding: 0px 10px !important;
}

input:focus,
textarea:focus {
    outline: none;
}

.submit_button {
    padding: 13px 17px 13px;
    background: #000;
    color: #fff;
    font-weight: 700;
    width: 42%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 20px;
    animation: color-change-3x 4s linear infinite alternate both;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 19px;
}

.content p {
    font-size: 21px;
    color: #e8e8e8;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
}

.foucs_sec h4 {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 14px;
}

.make_white ul {}

.make_white ul li {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
    color: #fff;
    list-style: disc;
}

.hidden {
    display: none;
}

#shift_right {
    width: 78%;
    position: absolute;
    right: 0;
    top: -1px;
}

.advertising_a a {
    padding: 17px 25px 17px;
    background: #ff4545;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 58%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 1.3rem;
    animation: color-change-3x 4s linear infinite alternate both;
}