@media (max-width: 768px)  {
    .navigation {
        display: none;
    }

    .fixed_menu img {
        width: 33%;
        float: left;
    }

    .content {
        position: absolute;
        z-index: 11;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 20px;
        transform: translate(-50%, -50%);
    }

    .content h1 {
        font-weight: 800;
        font-size: 30px;
        line-height: 45px;
    }

    .menu_top img {
        width: 30%;
        display: block;
        margin: 0 auto;
        transition: all .5s;
        float: left;
    }

    .hero {
        position: relative;
        height: 508px;
        overflow: hidden;
    }

    .second_sec {
        padding: 20px;
    }

    .second_sec h2 {
        font-weight: 800;
        font-size: 30px;
        line-height: 47px;
        color: #000;
        text-align: center;
        text-transform: capitalize;
    }

    .fetaures_sec {
        padding: 10px;
    }

    .fetaures_sec p {
        font-size: 16px;
    }

    .fetaures_sec h3 {
        font-weight: 800;
        font-size: 21px;
    }

    .fetaures_sec img {
        height: 59px;
        width: 59px;
        display: block;
        margin: 0 auto;
        margin-bottom: 19px;
        margin-top: 20px;
    }

    #line_cross {
        position: absolute;
        width: 100%;
        right: -176px;
        top: 0;
        opacity: .3;
    }

    .foucs_sec {
        padding: 10px;
    }

    .btn_home a {
        width: 63%;
    }

    .foucs_sec a {
        padding: 17px 8px 14px;
        background: #ff4545;
        color: #fff;
        font-weight: 700;
        display: inline-block;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 1.3rem;
    }

    .inner_2 {
        padding-top: 27px;
        position: relative;
        height: auto;
    }

    .inner_2 h3 {
        font-weight: 900;
        font-size: 26px;
        line-height: 34px;
        color: #fff;
        padding-left: 0;
        letter-spacing: 0;
    }

    .inner_2_right {
        padding-top: 0;
    }

    .inner_2_right a {
        padding: 17px 25px 17px;
        background: #070721;
        color: #fff;
        font-weight: 700;
        display: inline-block;
        width: 64%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 16px;
        margin-top: 0;
        animation: color-change-3x 4s linear infinite alternate both;
        margin-bottom: 20px;
    }

    .four_Sec_3 {
        position: relative;
        width: 100%;
        height: auto;
        background: #070721;
        padding: 16px;
    }

    .advertising_a {
        position: relative;
        width: 100%;
        height: auto;
        background: #070721;
        padding: 20px;
        position: relative;
        overflow: hidden;
    }

    .advertising_a img {
        width: 100%;
    }

    .advertising_a::after {
        display: none;
    }

    .advertising_b {
        background: #FC4747;
        width: 100%;
        height: auto;
    }

    #custom_li li {
        display: inline-block;
        float: left;
        margin-left: 6px;
        margin-right: 6px;
        background: #62FFBC;
        width: 44%;
        height: 36px;
        padding-top: 5px;
        border-radius: 49px;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .img_sl {
        width: 100%;
        overflow: hidden;
        display: block;
        float: left;
    }

    .content_Sec_slider {
        padding: 22px;
        width: 100%;
        overflow: hidden;
        display: block;
        float: left;
        height: auto;
    }

    .advertising_c {
        width: 100%;
        height: auto;
        background: #070721;
        padding: 10px;
        position: relative;
        overflow: hidden;
    }

    .slider_inner {
        width: 100%;
        overflow: hidden;
        background: #62FFBC;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    #section_3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        display: none;
    }

    .advertising_c h3 {
        font-weight: 800;
        font-size: 30px;
        margin-top: 36px;
    }

    .publish_top h3 {
        font-weight: 900;
        font-size: 30px;
        line-height: 43px;
        color: #000;
        text-align: center;
        margin-bottom: 9px;
    }

    .publish_top {
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 20px;
    }

    .pub_l {
        position: relative;
        overflow: hidden;
        height: auto;
        position: relative;
        cursor: pointer;
    }

    .pub_l img {
        width: 100%;
        height: 339px;
        transition: all .5s;
    }

    .careers_postion {
        border: .063rem solid #e3e3e3;
        border-top: .25rem solid;
        margin: 0;
        background: #fff;
        width: 100%;
        float: right;
        position: relative;
        top: 0;
        padding: 10px;
        border-top-color: #62FFBC !important;
    }

    .careers {
        margin-top: 0;
    }

    .careers_innner {
        padding: 20px;
    }

    .blog {
        padding: 20px;
        margin-bottom: 0;
    }

    .footer_top {
        animation: color-change-3x 4s linear infinite alternate both;
        padding: 7px;
        width: 90%;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 65px;
        left: 0;
        transform: inherit;
        box-shadow: 9px -4px 7px 2px rgba(0, 0, 0, 0.16);
        padding-bottom: 16px;
    }

    .footer_top h3 {
        font-weight: 900;
        font-size: 30px;

    }

    .footer_top p {
        font-weight: 600;
        font-size: 15px;

    }

    #pop_up {
        padding: 13px 18px 14px;
        color: #070721;
        font-weight: 700;
        width: 73%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 14px;
        margin-top: 3px !IMPORTANT;
        background: #fff;
        display: block;
        margin: 0 auto;
    }

    .footer_bottom_top {
        padding-top: 88px;
        text-align: center;
    }

    .footer_bottom {
        width: 100%;
        height: 198px;
        background: #070721;
    }

    .inner_2::after {
        display: none;
    }

    .inner_2_right p {
        font-size: 17px;
        letter-spacing: 1px;
        text-align: left;
        font-weight: 600;
        color: #f9f9f9d6 !important;
    }

    .four_Sec_3 a {
        padding: 13px 19px 14px;
        background: #ff4545;
        color: #fff;
        font-weight: 700;
        display: inline-block;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 14px;
        margin-top: 1.3rem;
        animation: color-change-3x 4s linear infinite alternate both;
    }

    .advertising_a h3 {
        font-weight: 800;
        font-size: 30px;
    }

    .advertising_b::after {
        display: none;
    }

    .foucs_sec_2 {
        background: #070721;
    }

    .make_white a {
        background: #fff !important;
        animation: auto !important;
        color: #000 !important;
    }

    #custom_li li a {
        color: #000;
        font-weight: 900;
        text-align: center;
        display: block;
        font-size: 14px;
    }

    .owl-theme .owl-nav {
        display: none;
    }

    .mobile_bar {
        display: block !important;
        width: 33px;
        position: fixed;
        right: 18px;
        top: 26px;
        display: none;
        -webkit-transition: .2s;
        transition: .2s;
        cursor: pointer;
        height: 33px;
    }

    .mobile_bar img {
        width: 100% !important;
    }

    .menu_Active {
        display: block;
        position: fixed;
        background: #051C2C;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        height: 100%;
        padding-top: 100px;
        animation: color-change-3x 4s linear infinite alternate both;
    }

    .menu_Active ul li {
        display: block;
        float: left;
        margin-left: 10px;
        margin-top: 5px;
        width: 100%;
        line-height: 44px;
    }

    .active_a {
        border-bottom: none;
    }

    .menu_Active ul li a {
        font-size: 14px;
        font-weight: 600;
        padding: 18px;
    }

    .make_cross .bar:nth-child(1) {
        transform: rotate(45deg);
        top: 0;
    }

    .make_cross .bar:nth-child(2) {
        width: 0;
    }

    .make_cross .bar:nth-child(3) {
        transform: rotate(-45deg);
        top: 0;
    }
    .mobile_bar .bar {
        position: absolute;
        width: 33px;
        height: 2px;
        background: #fff;
        transition: all .5s;
    }
}